<style>
    .body {
        background-color: aliceblue;
        color: #555;
        padding: 5rem;
        text-align: center;
    }
    #reset {
        background-color: rebeccapurple;
        color: white;
        padding: 0.8rem;
        text-decoration: none;
    }
</style>
<div class="body">
    <p>You requested for reset link!</p>
    <p>Kindly reset your password with the link below!</p>
    <a href="<%= link %>" id="reset">Reset Your Password</a>
</div>
