<style>
    .body {
        background-color: aliceblue;
        color: #555;
        padding: 5rem;
        text-align: center;
    }
    #verify {
        background-color: rebeccapurple;
        color: white;
        padding: 0.8rem;
        text-decoration: none;
    }
</style>
<div class="body">
    <p>Thanks for signing up on our site!</p>
    <p>Kindly verify your account now!</p>
    <a href="<%= link %>" id="verify">Verify Now</a>
</div>
